table{
    padding-left: 170px;
    width: 100%;
    padding-right: 180px;

}
th{
    height: 20px;
    border-radius: 20px;
   
}
td{
    
    
    margin: auto;
    margin-left: auto;
}
p{
   color: tomato;
}
div{
    display: inline;
    margin-top: 50px;
    text-align: center;
    margin-left: 60px;
    padding: 9px;
    border-radius: 5px;
}