.td {
    display: flex;
    width: 80%;
    padding: 0.5em;
    background-color: darksalmon;
    margin: auto;
    justify-content: center;
}

body {
    margin: 0;
}

.indiv {
    

    border-radius: 1em;
    width: 10vw;
    background-color: aqua;
    border: solid black 1px;
    margin: 0 0.5em;
    height: 4vh;
}

.db {
    text-align: center;
    display: block;
    width: 100%;
    height: 50vh;
    background-color: bisque;
}

.dd {

    height: 50%;

}

p {
    color: black;
}